/* Login.css */

/* General styling for both Signup and Login pages */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #1c6ec5;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

/*  */
 button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

#Invalid-credentials {
  margin: 8px 0 0 0;
  color: red;
  text-align: center;
}

/* Link styling */
.login-container a {
  text-decoration: none;
  color: #007bff;
  display: block;
  text-align: center;
  margin-top: 10px;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 768px) {
  .login-container {
    width: 90%;
    margin: 20px auto;
  }

  .login-container h2 {
    font-size: 24px;
    font-weight: bold;
  }

  input,
  button {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .login-container {
    width: 95%;
    padding: 15px;
  }

  .login-container h2 {
    font-size: 20px;
  }

  input,
  button {
    font-size: 12px;
    padding: 8px;
  }
}
