body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 100px 0 0 0 ;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.order-container {
  max-width: 600px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.order-container h2 {
  text-align: center;
  color: #333;
  width: 100%;
  font-weight: bold;
}

.order-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.order-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.order-container label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

.order-container input,
.order-container textarea,
.order-container select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.order-container textarea {
  resize: vertical;
}

.order-container .error-message {
  color: red;
  text-align: center;
  margin-bottom: 15px;
}

.order-container .btn {
  background-color: #28a745;
  font-weight: bolder;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
  width: 100%;
}

.order-container .btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.order-container .btn:hover {
  background-color: #218838;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .order-container {
    max-width: 90%;
    margin: 30px auto;
    padding: 15px;
    flex-direction: column;
    align-items: center;
  }
  .order-content {
    flex-direction: column;
    align-items: center;
  }
  
  .order-container input,
  .order-container textarea,
  .order-container select {
    font-size: 13px;
    padding: 8px;
  }
  .order-container .btn {
    font-size: 14px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .order-container {
    max-width: 95%;
    margin: 20px auto;
    padding: 10px;
  }
  .order-container h2 {
    font-size: 18px;
  }
  .order-container label {
    font-size: 14px;
  }
  .order-container input,
  .order-container textarea,
  .order-container select {
    font-size: 12px;
    padding: 6px;
  }
  .order-container .btn {
    font-size: 12px;
    padding: 6px;
  }

}
