* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;

  display: flex;
  place-items: center;
  background-color: #f4f4f4;
  color: black;
  box-sizing: border-box;
}



